<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบจัดการสำหรับผู้ดูแล</title>
    <style>
        
    </style>
</head>
<body>
    <header>
        <h1>ระบบจัดการสำหรับผู้ดูแล</h1>
        <h3>จัดการโค้ดส่วนลด</h3>
        <a class="admin-link" [routerLink]="['/history-admin']">
        <h3>ประวัติธุรกรรม</h3>
        </a>

        <a [routerLink]="['/profile']" class="profile-icon" title="Profile">
    <!-- ตัวอย่าง SVG ไอคอนคน -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"/>
    </svg>
  </a>
        <button (click)="logout()">Logout</button>
    </header>

    <main>
        <h1>รายการเกมทั้งหมด</h1>

        <!-- ปุ่มเพิ่มเกม -->
        <a class="btn-add" routerLink="/add-game"> เพิ่มเกมใหม่</a>

        <!-- แสดงรายการเกม -->
        <div *ngIf="games$ | async as games; else noGames">
            <div class="games-container">
                
                <div class="game-card" *ngFor="let game of games">
                    <img [src]="game.imageUrl" [alt]="game.title">
                    <div class="game-card-content">
                        <div>
                            <h2>{{ game.title }}</h2>
                            <p>ประเภท: {{ game.category }}</p>
                            <p>ราคา: {{ game.price }}</p>
                            <p>รายละเอียดเกม: <br>{{ game.description }}</p>
                        </div>

                        <!-- ปุ่มจัดการ -->
                        <div class="game-actions">
                            <button (click)="editGame(game)">✏️ แก้ไข</button>
                            <button (click)="deleteGame(game)">🗑 ลบ</button>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <ng-template #noGames="">
            <div class="games-container">
                <div class="empty-state">
                    <p>ยังไม่มีรายการเกมในระบบ</p>
                </div>
            </div>
        </ng-template>
    </main>
</body>
</html>